{% extends "Pages/maintemplate.html" %} {% load static %} 
{% block title %}
<title>About</title>
{% endblock %}
{% block header %}
{% endblock%}
{% block content %}
<div class="container">
<div class="about-section">
    <h1>About </h1>
    <p>Trabajo final CoderHouse</p>
    <p>Somos dos jovenes que realizamos en conjunto el trabajo final de coder!!</p>
</div>
  
  <h2 style="text-align:center">Equipo</h2>
  <div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{% static 'Pages/assets/fernando.jpeg' %}" alt="Jane" style="width:200px">
                <div class="container">
                    <h2>Fernando Reyes</h2>
                    <p class="title">Desarrollador</p>
                    <p>Nacionalidad: Chileno</p>
                    <p>Pasatiempo: Viajar y conocer nuevos lugares</p>
                    <p>fernandoReyes@gmail.com</p>
                    <p><button class="button">Contacto</button></p>
                </div>
            </div>
        
        </div>
        <div class="col">
       
            <div class="card">
                <img src="{% static 'Pages/assets/jorge.jpeg' %}" alt="Mike" style="width:200px">
                <div class="container">
                    <h2>Jorge Obando</h2>
                    <p class="title">Ingeniero</p>
                    <p>Nacionalidad: Peruano</p>
                    <p>Pasatiempo: Ir a la playa y jugar con mi perro</p>
                    <p>jorgeobando@gmail.com</p>
                    <p><button class="button">Contacto</button></p>
                </div>
            </div>
        </div>
        </div>
  
    
    </div>
</div>
</div>
{% endblock %}