{% extends "Pages/maintemplate.html" %} {% load static %} 
{% block title %}
<title>Page</title>
{% endblock %}
{% block header %}
<div style="margin: 5em";></div>
{% endblock%}
{% block content %}
{% for p in page %}

<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <p class="center"> <img src="{{ p.imagen.url }}" alt="" style="width: 100%;
            height: 400px;"></p>
          <p class=" text-muted">{{ p.autor }} | {{ p.fecha }}</p>
          <p class="card-text ">{{ p.html_content }}</p>
        </div>
        <a href="{% url 'editpage' p.etiqueta %}" class="btn btn-primary">Editar entrada</a>
        <a href="{% url 'deletepage' p.etiqueta %}" class="btn btn-primary">Eliminar entrada</a>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}